.videoPlayer-div{
    width: 90%;
    height: 90%;
    position: absolute;
    // opacity: 0.12;
    top: 0;
    display: flex;
    overflow: hidden;

    align-items: center;
    justify-content: center;
    .videoPlayer{
        // background-color: red;
        position: relative;
    }
    
    .close{
        // padding-right: -50px;
        top: -30px;
        right: -40px;
        background-color: white;
        position: absolute;
    }
}