@import "../../mixins.scss";


.genres{
    // background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 5px;
    // display: none;
    @include sm{
        display: inline-block;
        display: flex;
    }
    p{
        border-radius: 3px;
        font-size: 13px;
        // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 3px 5px;
        white-space: nowrap;
        color: white;
        // text-align: right;
        background-color: var(--pink);
        
        
    }
}