@import "../../mixins.scss";
.rating{
    background-color: transparent;
    border-radius: 50%;
    padding: 2px;
    width: 35px;
    @include md {
        width: 50px;
        
    }
   
    .CircularProgressbar{

        .CircularProgressbar-text {
            font-size: 34px;
            font-weight: 700;
            fill: white;
        }
        .CircularProgressbar-trail {
            stroke: transparent;
        }
    }
    
}