@import "../../mixins.scss";

.login-div{
    margin-top: 12vh;
    width: 100vw;
    // background-color: red;
    .login{
        width: 100%;
        // background-color: yellow;
        display: flex;
        justify-content: center;
        
        .form{
            width: 40%;
            margin-top: 10%;
            // background-color: green;
            form{
                width: 100%;
                color: white;
               
                // background-color: aqua;
                .title{
                    font-size: 32px;
                    font-weight: 500;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    margin-bottom: 10px;

                }
                .subtitle{
                    font-size: 16px;
                    margin-bottom: 20px;
                }
                .input1{
                    width: 100%;
                    padding: 10px;
                    font-size: 16px;
                    outline: none;
                    border: 1px solid gray;
                    border-radius: 5px;
                }
                .input2{
                    margin-top: 20px;
                }
                .btn{
                    margin-top: 30px;
                    background-color: blue;
                    color: white;
                    font-size: 18px;
                    &:hover{
                        background-color: rgb(18, 18, 167);
                    }
                    &:active{
                        background-color: yellowgreen;
                    }
                }
                

            }
        
            .login-btn{
                margin-top: 20px;
                color: gray;
                font-size: 16px;
                // text-align: center;
                // background-color: red;
                span{
                    color: blue;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

    }
}